.nav {
  display: inline-block;
  position: relative;
  color: #f9f6ed;
  text-decoration: none;
}

.nav:hover {
  color: #f497da;
}

.container {
  display: flex;
  flex-direction: row;
  top: 0;
  height: 6%;
  padding-top: 10px;
  padding-bottom: 10px;

  z-index: 1000;
  position: fixed;
  width: 100%;
  background-color: #111111;
}
li {
  margin-right: 40px;
}
/*effect-underline*/
.nav:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.nav:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  color: #f497da;
}
